/************/
/* GENERAL */
/**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #222;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

/*********/
/* CARD */
/*******/

.card {
  width: 90%;
  max-width: 47rem;
  padding: 4rem 3.5rem;
  color: #fff;
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 20px;
  text-align: center;
}

/***********/
/* SEARCH */
/*********/

.search {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.search__input {
  height: 6rem;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  color: #555;
  background-color: #ebfffc;
  border-radius: 3rem;
  border: 0;
  outline: 0;
  flex: 1;
}

.search__icon {
  width: 1.6rem;
}

/***********/
/* BUTTON */
/*********/

.btn {
  width: 6rem;
  height: 6rem;
  background-color: #ebfffc;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/************/
/* WEATHER */
/**********/

.weather__icon {
  width: 17rem;
  margin-top: 3rem;
}

.weather__temperature {
  font-size: 8rem;
  font-weight: 500;
}

.weather__city {
  margin-top: -1rem;
  font-size: 4.8rem;
  font-weight: inherit;
}

.weather__details {
  margin-top: 5rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather__details__col {
  text-align: left;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.weather__details__icon {
  width: 4rem;
}

.weather__humidity,
.weather__wind {
  margin-top: -0.5rem;
  font-size: 2.8rem;
}

.weather__details__label {
  font-size: 1.6rem;
}
